# This is a basic workflow to build robot code.

name: wpilib-ci

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch.
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-24.04
    container: wpilib/roborio-cross-ubuntu:2025-24.04

    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref || github.ref }}

    - run: git config --global --add safe.directory $GITHUB_WORKSPACE

    - name: Compile
      run: ./gradlew compileJava

    - name: Apply Spotless fixes
      run: ./gradlew spotlessApply

    - name: Commit spotless changes
      if: github.event_name == 'pull_request'
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "style: Apply Spotless fixes"
        branch: ${{ github.head_ref }}

    - name: Build and test
      run: ./gradlew build
